<body class = "bg-1">
<div class = 'container'>
	<div class="alert alert-success" role="alert">
		<strong>Well done {{userEmail}}!</strong> You successfully registered.
	</div>

	<h2 class = "post-title"><!--Who doesnt love cats?--></h2>
	
	<div class = 'topic-box'>
		<div class = 'fill-text'>
			<!--<p>1. Independence<br>
			If you are at work full time like me, it is difficult to own a dog because it would be unfair on them to be left alone all day. 
			That is the great thing about cats; they don’t need your constant attention. 
			If you’ve got a cat door (flap) you can just leave the house in the morning and a cat will please his or herself until you get home. 
			Depending on your cat’s preference they may like to spend their day inside your house, or if you have a cat like mine, 
			he is dying to get out in the garden as soon as he wakes up in the morning. If you get a cat door that has adjustable locking mechanisms, 
			you can choose whether to let your cat go out or indeed whether to let it in the house. 
			These mechanisms are also great for stopping unwanted cats from coming into your house and eating your cat’s dinner!</p>-->
			
		</div>
	</div>
	 
	
	<div class = 'comment-area'>
		
		<header>Leave a comment below!</header>
		<!--<label for='messageInput'>Message:</label>-->
		<textarea id='messageInput' placeholder='Type a comment here...'></textarea>
		<footer>
			<button type="submit" id ="submit-btn" class = "btn">Send</button>
		</footer>

	</div>
	
	<div class='prev-comment-area'>
		<header>Comments left by users:</header>
		<div id='prev-comments'></div>
	</div>
	
	</div>
</body>	
	


